{%extends 'partials/layout.njk' %}
{% block content %}
        <h1>Hello Vite!!!</h1>
        <button class="button is-primary">Click me!</button>
        <div class="notification is-primary mt-2">
            <button class="delete"></button>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, magni!
            Atque, ducimus provident soluta dolorem doloribus totam id voluptatem mollitia.
            Aliquam molestiae, magni non sit possimus aspernatur voluptas. Hic, consequatur.
            Dolorem doloremque magni voluptatum pariatur nostrum doloribus recusandae laudantium labore.
            Officia vel quae sequi blanditiis commodi at, dolore placeat. Praesentium.
            Atque nam esse error fugiat repellat enim, repellendus deserunt alias?
            Mollitia recusandae aut sapiente aliquam tenetur. Incidunt, praesentium sit? Ipsam.
            Eaque placeat dolorum id? Perspiciatis, pariatur aperiam. Porro, corporis dolores!
            Veniam in voluptatibus fugiat beatae fugit odit accusamus magnam reiciendis.
            Similique eveniet sed ipsa commodi inventore quibusdam, eos quidem doloremque.
        </div>
        {% for i in range (0,10) %}
            <li>{{i}}
        {% endfor %}
{% endblock %}